@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary: #1d3557;
  --secondary: #457b9d;
  --info: #a8dadc;
  --light: #f1faee;
  --danger: #e63946;
  --success: #7dd161;
}

body {
  font-family: 'Share Tech Mono', monospace;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}

main {
  min-height: 70vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}
